
body {
  margin:0;
  font-family: sans-serif;
  text-align:center;
  color: #000;

  & .welcome {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;

    h1 {
      font-size: 32px;
      margin: 16px 0 0 0;
      color: #ff0000;
    }

  }

}

a, a:visited {
  text-decoration:none;
}

